<strong>Olá, {{ student }}</strong>
<p>Gostáriamos de informar que a sua pergunta foi respondida pelo colaborador: <strong>{{user}}</strong>.</p>
<p>
    <strong>Pergunta:</strong> {{ question }} <br/>
    <strong>Resposta:</strong> {{ answer }} <br/>
    <br/>
    <small>
        Agradeçemos a sua preferência!
    </small>
</p>
